################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Autoupdater/bin
/Autoupdater/obj
/ZipExtractor/bin
/ZipExtractor/obj
/.vs
